@font-face {
  font-family: 'HelveticaNeue';
  src:  url('fonts/HelveticaNeueBold.ttf') format('ttf');
}

body {
  text-transform: uppercase;
  padding: var(--base);
  background-color: #97221A;
  padding: 0;
  text-align: center;
  display: grid;
  font-family: "HelveticaNeue"; 
  font-weight: bold;
  font-size: 82%;
  line-height: 70%;
}




.info {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  text-align: center;
}



img {
  max-width: 90%;
}